#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s;
}

.contact_button.send:disabled {
  background-color: #a3a3a3;
  color: #333;
}

.contact_button:hover,
.contact_button:focus {
  background-color: var(--secondary-color);
  color: #000;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  max-width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 30px;
  height: auto;
}

.modal header img {
  cursor: pointer;
  margin-top: 10px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin-bottom: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.photograph-header .photographer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photograph-header .photographer-img {
  width: 200px;
  height: 200px;
}

.photograph-header .photographer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow-clip-margin: unset;
  transition: var(--transition-shadow);
}

.photograph-header .photographer h2 {
  color: var(--secondary-color);
  font-size: 64px;
  font-weight: 400;
}

.photograph-header .photographer .location {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 400;
}

.photograph-header .photographer .tagline {
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 18px;
}

.stats {
  position: fixed;
  bottom: 0;
  right: 30px;
  min-width: 200px;
  height: 70px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
}

.stats .likes,
.stats .price {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin: 0 15px;
}

.media {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  row-gap: 30px;
  width: calc(100% - 200px);
  margin: 0 100px;
}

.media .card {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  position: relative;
}

.media .card .imgContainer::before,
.media .card .imgContainer::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
  border-radius: 5px 5px 0 0;
}

.media .card .imgContainer::before {
  transform-origin: left top;
}
.media .card .imgContainer::after {
  transform-origin: right bottom;
}
.media .card .imgContainer:hover::before,
.media .card .imgContainer:hover::after,
.media .card .imgContainer:focus::before,
.media .card .imgContainer:focus::after {
  transform: scale3d(1, 1, 1);
}

.media .card .imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.media .card:hover .imgContainer img,
.media .card:hover .imgContainer video {
  box-shadow: var(--media-shadow);
}

.media .card .imgContainer img,
.media .card .imgContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  overflow-clip-margin: unset;
  transition: var(--transition-shadow);
}

.media .infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: var(--primary-color);
}

.media .infos .title {
  font-size: 24px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 70%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.media .infos .likes {
  font-size: 24px;
  font-weight: 500;
  z-index: 0;
}
.media .infos .likes i {
  cursor: pointer;
}

.fadeOutLike {
  animation: fadeOutLike 0.15s ease;
}

.fadeInLike {
  animation: fadeInLike 0.15s ease;
}

@keyframes fadeOutLike {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes fadeInLike {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.sort {
  display: flex;
  margin: 15px 0 15px 100px;
  min-height: 100px;
  padding-top: 40px;
}

.sort p.sort-title {
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
  padding-top: 26px;
}

.photographer-media {
  padding-bottom: 70px;
}

.sortlist {
  position: relative;
  width: 170px;
  height: 170px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.sortlist.inactive {
  height: 70px;
  cursor: pointer;
}

.sortlist ul {
  height: 170px;
  width: calc(100% - 20px);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sortlist.inactive ul {
  height: 70px;
  padding-top: 0;
}

.sortlist ul li {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  padding-left: 20px;
  height: calc(170px / 3);
  width: 100%;
  user-select: none;
}

.sortlist ul li label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sortlist ul li:nth-child(1) {
  padding-top: 8px;
}

.sortlist.inactive ul li:nth-child(1) {
  padding-top: 0;
}

.sortlist.inactive ul li {
  height: 70px;
}

.sortlist.inactive ul li:nth-child(2),
.sortlist.inactive ul li:nth-child(3) {
  display: none;
}

.sortlist ul li:hover {
  cursor: pointer;
}

.sortlist:not(.inactive) ul li label:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff10;
}

.sortlist:not(.inactive) ul li:nth-child(2)::before,
.sortlist:not(.inactive) ul li:nth-child(3)::before {
  position: absolute;
  content: "";
  top: 0;
  border: 1px solid #fff;
  width: 150px;
  align-self: center;
  left: 10px;
}

.sortlist .arrows {
  position: absolute;
  top: 26px;
  right: 20px;
}

.sortlist input {
  display: none;
}

div#contact_modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

div#contact_modal.hidden {
  display: none;
}

.hidden {
  display: none;
}

form textarea {
  resize: none;
  height: 170px;
}

.formData {
  position: relative;
}

.formData p {
  position: absolute;
  right: 0;
  top: 20px;
  height: 18px;
  text-align: right;
  font-size: 18px;
  color: #333;
}

.formData textarea::-webkit-scrollbar {
  display: none;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 18px;
  color: var(--primary-color);
  display: block;
  margin-top: 7px;
  text-align: right;
  line-height: 10px;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid var(--primary-color);
}

.lightbox {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
  animation: fadeIn 0.25s ease-in;
  overflow: auto;
}

.lightbox::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  opacity: 0;
}

.lightbox_close {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url("../assets/images/lightbox_close.svg") center center / 80% 80%
    no-repeat;
  z-index: 20;
  border: none;
  cursor: pointer;
}

.lightbox_next,
.lightbox_prev {
  background: url("../assets/images/lightbox_arrow.svg") center center / 90%
    calc(60px * 0.9) no-repeat;
  width: 60px;
  height: 100%;
  border: none;
  position: fixed;
  cursor: pointer;
}

.lightbox_next {
  right: 0;
}

.lightbox_prev {
  left: 0;
  transform: rotate(180deg);
}

.lightbox_imgDiv {
  max-height: 90vh;
  height: 100%;
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightbox_imgDiv.loader {
  background: url("../assets/images/lightbox_loader.svg") center center / 80px
    80px no-repeat;
}

.lightbox_imgDiv img,
.lightbox_imgDiv video {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.lightbox p {
  display: block;
  padding: 15px 0;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 18px;
}
